html {
  box-sizing: border-box;
  font-family: "Open Sans", sans-serif;
  line-height: 1.4;
}

*, *::before, *::after {
  box-sizing: inherit;
}

h2 {
  display: inline;
  font-size: 4rem;
  background-color: rgba(0, 0, 0, .5);
  color: #fff;
}

body {
  margin: 0;
}

p {
  font-size: 2rem;
  font-style: italic;
}

.img-flex {
  display: block;
  width: 100%;
}

.banner {
  position: relative;
  max-height: 500px;
  overflow: hidden;
}

.title {
  max-width: 50em;
  padding-top: 2em;
  position: absolute;
  bottom: -.9em;
  left: 50%;
  transform: translateX(-50%);
  width: 100%;
}
